{% extends 'mainapp/basic.html' %}
{% load static %}
{% block title %}
{% load myfilters %}
StockTracker
{% endblock %}
{% block css %}
<style>
  .red {
    color: red;
  }

  .green {
    color: green;
  }

  .table-container {
    overflow-x: scroll;
  }
</style>
{% endblock %}
{% block body %}
<div class="container">
  <h1>Live Stock Tracker</h1>
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">SNo.</th>
          <th scope="col">Stock</th>
          <th scope="col">Price</th>
          <th scope="col">Previous Close</th>
          <th scope="col">Open</th>
          <th scope="col">Change</th>
          <th scope="col">Market Cap</th>
          <th scope="col">Volume</th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in data.items %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{key}}</td>
          <td id="{{key}}_price">{{ value|get:"Quote Price"|floatformat:4 }}</td>
          <td id="{{key}}_prevprice">{{ value|get:"Previous Close"|floatformat:4 }}</td>
          <td id="{{key}}_open">{{ value|get:"Open" }}</td>
          <td id="{{key}}_change">
            <script>
              var change = document.getElementById("{{key}}_price").innerHTML - document.getElementById(
                "{{key}}_prevprice").innerHTML;
              change = Number((change).toFixed(4));
              if (change > 0) {
                document.getElementById("{{key}}_change").className = "green";
                document.getElementById("{{key}}_change").innerHTML = "+" + change;
              } else if (change < 1) {
                document.getElementById("{{key}}_change").className = "red";
                document.getElementById("{{key}}_change").innerHTML = change;
              } else {
                document.getElementById("{{key}}_change").innerHTML = change;
              }
            </script>
          </td>
          <td id="{{key}}_cap">{{ value|get:"Market Cap" }}</td>
          <td id="{{key}}_vol">{{ value|get:"Volume" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br>
  <div class="gap-2">
    <a class="btn btn-primary" href="/" role="button">Home</a>
</div>
</div>
</div>
{{ room_name|json_script:"room-name" }}
<script>
  const roomName = JSON.parse(document.getElementById('room-name').textContent);
  var queryString = window.location.search;
  queryString = queryString.substring(1);
  console.log(queryString);
  const stockSocket = new WebSocket(
    'ws://' +
    window.location.host +
    '/ws/stock/' +
    roomName +
    '/' +
    '?' +
    queryString
  );

  stockSocket.onmessage = function (e) {
    console.log(e.data);
    const data = JSON.parse(e.data);
    console.log(data);
    for (const [key, value] of Object.entries(data)) {
      var price = Number((value['Quote Price']).toFixed(4));
      var prevprice = Number((value['Previous Close']).toFixed(4));
      document.getElementById(key + '_price').innerHTML = price;
      document.getElementById(key + '_prevprice').innerHTML = prevprice;
      document.getElementById(key + '_open').innerHTML = value['Open'];
      document.getElementById(key + '_cap').innerHTML = value['Market Cap'];
      document.getElementById(key + '_vol').innerHTML = value['Volume'];
      var change = document.getElementById(key + '_price').innerHTML - document.getElementById(key + '_prevprice')
        .innerHTML;
      change = Number((change).toFixed(4));
      if (change > 0) {
        document.getElementById(key + '_change').className = "green";
        document.getElementById(key + '_change').innerHTML = "+" + change;
      } else if (change < 0) {
        document.getElementById(key + '_change').className = "red";
        document.getElementById(key + '_change').innerHTML = change;
      }
    }
  };
</script>
{% endblock %}
{% block js %}
<script>
</script>
{% endblock %}