:root{
    --primary-color: #fff;
    --font-color: #000;
}

.dark-theme{
    --primary-color: #181818;
    --font-color: #fff;
}

body, table{
    background-color: var(--primary-color);
    color: var(--font-color) !important;
}

.navbar{
    background-color: #141414;
}

.toggle-container{
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #0d6efd;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #0d6efd;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
